/*estilização geral */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;


    .poppins-thin {
        font-family: "Poppins", sans-serif;
        font-weight: 100;
        font-style: normal;
    }

    .poppins-extralight {
        font-family: "Poppins", sans-serif;
        font-weight: 200;
        font-style: normal;
    }

    .poppins-light {
        font-family: "Poppins", sans-serif;
        font-weight: 300;
        font-style: normal;
    }

    .poppins-regular {
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-style: normal;
    }

    .poppins-medium {
        font-family: "Poppins", sans-serif;
        font-weight: 500;
        font-style: normal;
    }

    .poppins-semibold {
        font-family: "Poppins", sans-serif;
        font-weight: 600;
        font-style: normal;
    }

    .poppins-bold {
        font-family: "Poppins", sans-serif;
        font-weight: 700;
        font-style: normal;
    }

    .poppins-extrabold {
        font-family: "Poppins", sans-serif;
        font-weight: 800;
        font-style: normal;
    }

    .poppins-black {
        font-family: "Poppins", sans-serif;
        font-weight: 900;
        font-style: normal;
    }

    .poppins-thin-italic {
        font-family: "Poppins", sans-serif;
        font-weight: 100;
        font-style: italic;
    }

    .poppins-extralight-italic {
        font-family: "Poppins", sans-serif;
        font-weight: 200;
        font-style: italic;
    }

    .poppins-light-italic {
        font-family: "Poppins", sans-serif;
        font-weight: 300;
        font-style: italic;
    }

    .poppins-regular-italic {
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-style: italic;
    }

    .poppins-medium-italic {
        font-family: "Poppins", sans-serif;
        font-weight: 500;
        font-style: italic;
    }

    .poppins-semibold-italic {
        font-family: "Poppins", sans-serif;
        font-weight: 600;
        font-style: italic;
    }

    .poppins-bold-italic {
        font-family: "Poppins", sans-serif;
        font-weight: 700;
        font-style: italic;
    }

    .poppins-extrabold-italic {
        font-family: "Poppins", sans-serif;
        font-weight: 800;
        font-style: italic;
    }

    .poppins-black-italic {
        font-family: "Poppins", sans-serif;
        font-weight: 900;
        font-style: italic;
    }

}

body {
    background-color: #000;
    height: 100vh;
}

h2.titulo {
    color: #fff;
    font-size: 38px;
    text-align: center;


}

h2.titulo span {
    color: #d005df;

}

.interface {
    max-width: 1280px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

button:hover {
    box-shadow: 0px 0px 12px #a831f3cc;
    transform: scale(1.05);
}


/*estilização cabeçalho*/
header {
    width: 100%;
    padding: 40px 4%;
    transition: 1s;
    position:fixed;
    top: 0;
    left: 0;
    z-index: 100000;

}

header.rolagem{
    background-color: #490051cf;
    padding: 5px 4%;

}
header.rolagem a, header.rolagem i{
    color: #fff;
}

header>.interface {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

header a {
    color: #888888;
    text-decoration: none;
    display: inline-block;
    transition: .3s;

}

header nav.menu-desktop a:hover {
    color: azure;
    transform: scale(1.05);

}

header nav ul {
    list-style-type: none;
}

header nav.menu-desktop ul li {
    display: inline-block;
    padding: 0 40px;
}

.btn-contato button {
    padding: 10px 40px;
    font-size: 18px;
    color: #fff;
    font-weight: 600;
    background-color: rgb(142, 0, 198);
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transform: .3s;

}


/*Menu mobile*/

.btn-abrir-menu i{
    color: #930cce;
    font-size: 40px;
    display: none;
}
.menu-mobile {
    background-color: #000000d2;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 99999;
    width:0%;
    overflow: hidden;



}

.menu-mobile nav ul {
    text-align: right;
}

.menu-mobile nav ul li a {
    color: #fff;
    font-size: 20px;
    font-weight: 300;
    padding: 20px 8%;
    display: block;
}

.menu-mobile nav ul li a:hover {
    background-color: #41055bb6;
    color: #000;
}

.menu-mobile .btn-fechar i{
    color: #d005df;
    font-size: 30px;
}

.menu-mobile .btn-fechar{
    padding: 20px 4%;
}

.overlay-menu{
    background-color: #00000072;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 88888;
    display: none;
}

.menu-mobile.abrir-menu{
    width: 70%;
    transition: .5s;

}

.menu-mobile.abrir-menu .overlay-menu{
    display: block;


}

/* topo*/
section.topo-do-site {
    padding: 40px 4%;
    padding-top: 140px;

}

section.topo-do-site .flex {
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.topo-do-site h1 {
    color: #fff;
    font-size: 42px;
    line-height: 40px;
}

.topo-do-site .txt-topo-site h1 span {
    color: #90009a;
}

.topo-do-site .txt-topo-site p {
    color: #fff;
    margin: 40px 0;
}

.topo-do-site .img-topo-do-site img {
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;
}

@keyframes flutuar {
    0% {
        top: 0;
    }

    100% {
        top: 30px
    }
}

/*Estilo especialidades*/
section.especialidades {
    padding: 50px 4%;
}

section.especialidades .flex {
    gap: 60px;
    margin-bottom: 100px;
    padding: 20px;


}

.especialidades .especialidades-box {
    color: #fff;
    padding: 40px;
    margin-top: 40px;
    border-radius: 20px;
    transition: .3s;
}

.especialidades .especialidades-box:hover {
    transform: scale(1.05);
    box-shadow: 0 0 15px #bf2fef8b;
}

.especialidades .especialidades-box i {
    font-size: 70px;
    color: #d005df;

}

.especialidades .especialidades-box h3 {
    font-size: 28px;
    margin: 20px;
    padding-top: 20px;

}

/*estilo da formação*/
section.formacao {
    padding: 60px 4%;
    box-shadow: 0 0 40px 10px #ca18d7aa;
   
}

section.formacao .flex {
    gap: 70px;
    margin-bottom: 40px;

}

.formacao .formacao-box {
    color: #fff;
    padding: 40px;
    margin-top: 45px;
    border-radius: 20px;
    transition: .3s;
}

.formacao .formacao-box p span {
    color: #e94ff4;
}

.formacao .formacao-box:hover {
    transform: scale(1.05);
    box-shadow: 0 0 15px #bf2fef8b;
}

.formacao .formacao-box i {
    font-size: 70px;
    color: #d005df;

}

.formacao .formacao-box h3 {
    font-size: 28px;
    margin: 15px;

}


.formacao .formacao-box p {
    font-size: 17px;
    margin: 15px;
    justify-content: center;
    text-align: justify;
    gap: 60px;
    margin-top: 20px;

}

/*estilo sobre*/

section.sobre {
    padding: 50px 4%;
    padding-bottom: 200px;
  

}

section.sobre .flex {
    align-items: center;
    gap: 60px;
   
   
}


.sobre .txt-sobre {
    color: #fff;

}

.sobre .txt-sobre h2 {
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 30px 0;
    text-align: justify;
}

.sobre .txt-sobre h2 span {
    color: #d005df;
    display: block;
}

.sobre .txt-sobre p {
    margin: 0px;
    margin-top: 10px;
}

.btn-social button {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 0;
    background-color: #d005df;
    margin: 0 8px;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    transition: .3s;
    margin-top: 30px;
}

.btn-social button:hover {
    box-shadow: 0px 0px 12px #a831f3cc;
    transform: scale(1.05);
}



/*estilo do portifólio*/

section.portifolio {
    padding: 50px 4%;
    box-shadow: 0 0 40px 10px #ca18d7aa;
}

section.portifolio .flex {
    justify-content: space-around;
    margin-top: 60px;
    padding-bottom: 50px;
}


.img-projetos {
    width: 330px;
    height: 410px;
    background-size: cover;
    background-position: 100% 0%;
    transition: 15s;
    cursor: pointer;
    border-radius: 40px;
    position: relative;
    box-shadow: 0 0 10px 5px #7b028464;

}

.img-projetos:hover {
    background-position: 100% 100%;

}

/*transparência*/
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #d105df7d;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 23px;
    font-weight: 600;
    color: #fff;
    opacity: 0;
    transition: .5s;
}

.overlay:hover {
    opacity: 1;
}

/*estilo do formulário*/
section.formulario {
    padding: 80px 4%;
    padding-top:70px;
    

}

form {
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    margin-top: 40px;
    padding-top: 20px;
    padding-bottom: 50px;
}

form input,
form textarea {
    width: 100%;
    background-color: #131313a7;
    border: 0;
    outline: 0;
    padding: 20px 15px;
    border-radius: 15px;
    color: #fff;
    font-size: 18px;

}


form textarea {
    resize: none;
    max-height: 200px;
}

form .btn-enviar {
    margin-top: 20px;
    text-align: center;

}

form .btn-enviar input[type=submit] {
    width: 120px;
    background-color: #d005df;
    color: #fff;
    font-weight: 700;
    cursor: pointer;
    transition: .3s;
}

form .btn-enviar input[type=submit]:hover {
    box-shadow: 0px 0px 12px #a831f3cc;
    transform: scale(1.05);

}

/*Rodapé*/
footer {
    padding: 60px 4%;
    box-shadow: 0 0 40px 10px #bf2fef8b;
}

footer .flex {
    justify-content: space-between;
}

footer .line-footer {
    padding: 20px 0;

}

.borda {
    border-top: 2px solid #930cce;
}

footer .line-footer p i {
    color: #930cce;
    font-size: 22px;
}

footer .line-footer p a {
    color: #fff;
    text-decoration: none;
}

/**/
@media screen and (max-width:1020px) {

    /*classes gerais*/
    .flex {
        flex-direction: column;
    }

    h2.titulo {
        font-size: 34px;
        line-height: 30px;
    }

    /*cabeçalho*/
    .menu-desktop,
    .btn-contato {
        display: none;
    }

    /*Menu mobile*/
    .btn-abrir-menu i{
        display:flex;
    }
   

    /*topo do site*/
    section.topo-do-site .flex {
        gap: 40px;
        ;
    }


    section .topo-do-site {
        padding: 20px 4%;
    }

    .topo-do-site h1 {
        font-size: 30px;
    }

    .topo-do-site .img-topo-do-site img {
        width: 100%;
    }

    /*Estilo especialidades*/
    section.especialidades {
        padding: 40px 8%;
    }

    
    /*estilo formaçao*/
    section.formacao{
        padding: 40px 8%;
        justify-items: center;
    
    }

    /*estilo sobre*/

    section.sobre {
        padding: 80px 8%;

    }

    section.sobre .flex {
        align-items: center;
        gap: 60px;
    }


    .sobre .txt-sobre h2 {
        font-size: 34px;
        line-height: 35px;
        text-align: center;
    }

    .btn-social {
        text-align: center;
    }

    img-sobre {
        width: 100%;
    }

    /*portifólio*/
    section.portifolio {
        padding: 80px 8%;
        box-shadow: 0 0 40px 10px #ca18d7aa;
    }

    .img-projetos {
        width: 100%;
        max-width: 360px;
        margin: 0 auto;
    }

    section.portifolio .flex {
        gap: 60px;
    }

    /*rodapé*/
    footer {
        flex-direction: column;
        gap: 30px;

    }

    footer .line-footer {
        text-align: center;
    }

}